@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 96rem;
  margin: 10rem auto;
  display: grid;
  justify-items: center;
  padding: 2rem;
}

.title {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  font-size: 2.8rem;
}

.form {
  width: 50%;
}

.form-control {
  margin: 1.5rem 0;
}

.form-control label {
  display: block;
  margin: 0.5rem 0;
}

.form-control input {
  width: 100%;
  font-size: 1.6rem;
  padding: 1rem;
  outline: none;
  border: 1px solid #adb5bd;
}

.form .submit {
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  color: #fff;
  outline: none;
  border: none;
  background-color: #339af0;
}
