@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 96rem;
  margin: 2rem auto;
  display: grid;
  justify-items: center;
  padding: 2rem;
}

.title {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  font-size: 2.8rem;
}

.title span,
.title .fa-book-open {
  color: #339af0;
}

.form,
.list {
  width: 70%;
}

.form-control {
  margin: 1.5rem 0;
}

.form-control label {
  display: block;
  margin: 0.5rem 0;
}

.form-control input {
  width: 100%;
  font-size: 1.6rem;
  padding: 1rem;
  outline: none;
  border: 1px solid #adb5bd;
}

.form .submit {
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  color: #fff;
  outline: none;
  border: none;
  background-color: #339af0;
}

.list {
  margin: 4rem 0;
  border-top: 1px solid #ced4da;
}

.headings,
.book {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1.2rem;
}

.headings h2 {
  font-size: 1.6rem;
}

.list-submissions {
  border-top: 2px solid #ced4da;
  padding: 1.4rem;
  background-color: #dee2e6;
}
