@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;

  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

button {
  cursor: pointer;
}

.container {
  width: 50%;
}
h1 {
  padding: 2rem 0;
  border-bottom: 1px solid #e9ecef;
}

.form-container {
  margin-top: 2rem;
  background-color: #e9ecef;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.form {
  padding: 3rem 0;
  text-align: center;
  width: 80%;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.form-control label {
  margin-bottom: 1rem;
}

.form-control input {
  font-size: 1.6rem;
  padding: 1.2rem;
  outline: none;
  border-radius: 0.5rem;
  border: none;
}

.form button {
  background-color: #1971c2;
  color: white;
  font-size: 2rem;
  outline: 0;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

.bookmarks {
  margin-top: 3rem;
  padding: 2rem 0;
}

.bookmark {
  background-color: #e9ecef;
  padding: 3rem;
  display: inline-flex;
  align-items: center;
  width: 100%;
  gap: 1.2rem;
  border-radius: 0.5rem;
}

.bookmark-name {
  font-size: 2.8rem;
}

.bookmark--btn {
  font-size: 1.6rem;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  border: none;
}

.btn-visit {
  background-color: #fff;
}

.btn-delete {
  background-color: #f03e3e;
  color: #fff;
}
